<div class="d-flex flex-column align-items-center">
  @if(!person) {
    <div class="alert alert-danger text-center">
      No person details available!
    </div>
  } @else {
   <table class="table table-bordered w-50">
     <caption class="caption-top fw-bold bg-primary text-light text-center">
       Person Details
     </caption>
     <tr>
       <td class="fw-semibold text-end">First Name</td>
       <td class="ps-2 text-start ">{{ person.givenName }}</td>
     </tr>
     <tr>
       <td class="fw-semibold text-end">Last Name</td>
       <td class="ps-2 text-start">{{ person.surName }}</td>
     </tr>
     <tr>
       <td class="fw-semibold text-end">Age</td>
       <td class="ps-2 text-start ">{{ person.age }}</td>
     </tr>
     <tr>
       <td class="fw-semibold text-end">Email</td>
       <td class="ps-2 text-start">{{ person.email }}</td>
     </tr>
     <tr>
      <td class="fw-semibold text-end">Address</td>
      <td class="ps-2 text-start">{{ person.address }}</td>
    </tr>
   </table>
  }
 </div>

