<table class="table table-bordered table-striped text-wrap ">
   <thead>
      <tr class="align-middle text-center small ">
         <th role="button" (click)="sortData('givenName')">
            First Name {{ sortSign('givenName') }}</th>
         <th role="button" (click)="sortData('surName')">
            Last Name {{ sortSign('surName') }}</th>
         <th role="button" (click)="sortData('age')">
            Age {{ sortSign('age') }}</th>
         <th role="button" (click)="sortData('email')" class="d-none d-lg-table-cell">
            Email {{ sortSign('email') }}</th>
         <th role="button" (click)="sortData('education')" class="d-none d-lg-table-cell">
            Education {{ sortSign('education') }}</th>
      </tr>
   </thead>
   <tbody>
      @for (person of data; track person;) {
         <tr class="align-middle ">
            <td>{{ person.givenName }}</td>
            <td>{{ person.surName }}</td>
            <td>{{ person.age }}</td>
            <td class="d-none d-lg-table-cell">{{ person.email }}</td>
            <td class="d-none d-lg-table-cell ">{{ person.education }}</td>
         </tr>
      }
   </tbody>
</table>